@font-face {
  font-family: "raleway";
  src: url(police/Raleway-Medium.ttf);
}
* {
  font-family: "raleway";
}
body {
  margin: 0;
  padding: 0px 50px 0px 50px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.logo {
  width: 110px;
  position: absolute;
  top: 40px;
}

/* Menu */
nav {
  display: flex;
}
nav div {
  display: flex;
  margin-right: 0px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}
.hebergements,
.activites {
  font-size: 1.1em;
  padding: 50px 35px 20px 35px;
  text-decoration: none;
  color: #000;
  border-top: 2px solid#fff;
}
.inscrire {
  font-size: 1.1em;
  padding: 50px 35px 20px 35px;
  text-decoration: none;
  color: #0065fc;
  border-top: 2px solid#fff;
  font-weight: bold;
}
nav div a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

/* text intro */
.intro {
  line-height: 95%;
}
h1 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.1em;
  font-weight: normal;
}

/* Barre de recherche */
.blocsearch {
  display: flex;
  height: 60px;
  margin-top: 25px;
  margin-bottom: 35px;
}
.location {
  display: flex;
  width: 60px;
  background-color: #f2f2f2;
  border-radius: 20px 0 0 20px;
  justify-content: center;
  align-items: center;
}
#name {
  width: 250px;
  font-size: 1.3em;
  font-weight: bold;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-left: none;
  border-right: none;
  padding-left: 10px;
}
#name:focus {
  outline: none;
}
.btnsearch {
  width: 7.5em;
  font-size: 1.3em;
  color: #fff;
  border: 0px solid #0065fc;
  background-color: #0065fc;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: 0.3s;
}
.btnsearch:hover {
  color: #000;
  background-color: #beebff;
  border: none;
  border-radius: 0 20px 20px 0;
  box-shadow: 3px 3px 8px #f2f2f2;
  transition: 0.3s;
}

/* ------------Icons------------ */
.fas {
  color: #0065fc;
}
.fa-search {
  color: #fff;
}
.fa-chart-line,
.fa-map-marker-alt {
  color: black;
}
/* ----------------------------- */

/* Bloc filtres */
.blocfilters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.filters {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 40px;
  margin-bottom: 10px;
}

.allbuttonsfilters {
  display: flex;
  flex-wrap: wrap;
}

.buttonfilter {
  height: 50px;
  border: 2px solid #f2f2f2;
  display: flex;
  border-radius: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  text-decoration: none;
  align-items: center;
  transition: 0.3s;
}
.buttonfilter:hover {
  border: 2px solid #beebff;
  background-color: #beebff;
  box-shadow: 3px 3px 8px #f2f2f2;
  transition: 0.3s;
}

.textfilter {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-weight: bold;
  padding: 0 20px 0 20px;
}

.iconfilter {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #beebff;
  justify-content: center;
  align-items: center;
  margin-left: -4px;
}

/* Info bulle */
.blocinfo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.bulleinfo {
  display: flex;
  width: 30px;
  height: 30px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
