@font-face {
  font-family: "raleway";
  src: url(police/Raleway-Medium.ttf);
}

* {
  font-family: "raleway", sans-serif;
}

body {
  margin: 0;
  font-size: 16px;
}

.logo {
  width: 110px;
  position: absolute;
  top: 40px;
  left: 50px;
}

.intro,
.blocsearch,
.blocfilters,
.blocinfo {
  margin: 0px 50px 0px 50px;
}
/* ----------Menu---------- */
nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

nav div {
  display: flex;
  width: auto;
  height: auto;
}

nav div a {
  font-size: 1.1em;
  padding: 50px 30px 0px 30px;
  text-decoration: none;
  border-top: 2px solid white;
  color: #000;
}
nav div a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

.inscrire a {
  color: #0065fc;
  font-weight: bold;
  margin-right: 50px;
}
.inscrire a:hover {
  border-top: 2px solid #fff;
  color: #deebff;
}

/* ----------1 seul breakpoint pour le Header à 800px---------- */
@media all and (max-width: 800px) {
  header {
    margin-bottom: 50px;
  }
  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .intro,
  .blocsearch,
  .blocfilters,
  .blocinfo {
    margin: 0px 30px 0px 30px;
  }
  nav {
    flex-wrap: wrap-reverse;
  }
  .deuxancres {
    width: 100%;
    height: auto;
  }
  .deuxancres div {
    justify-content: center;
    text-align: center;
    width: 50%;
    border-bottom: 3px solid #f2f2f2;
  }
  .deuxancres div a {
    padding-bottom: 20px;
  }
  .deuxancres div a:hover {
    border-top: 2px solid #fff;
  }
  .deuxancres div:hover {
    border-bottom: 3px solid #0065fc;
  }
  .inscrire a {
    margin-right: 0px;
  }
}
/*------------------------------------------------*/

/* ----------text intro---------- */
.intro {
  line-height: 95%;
}

.intro h1 {
  font-size: 1.6em;
  line-height: 1.1em;
}

.intro p {
  font-size: 1.1em;
  font-weight: normal;
}

/* ----------Barre de recherche---------- */
.blocsearch {
  display: flex;
  height: 60px;
  margin-top: 25px;
  margin-bottom: 35px;
}

.location {
  display: flex;
  width: 60px;
  background-color: #f2f2f2;
  border-radius: 20px 0 0 20px;
  justify-content: center;
  align-items: center;
}

#name {
  width: 250px;
  font-size: 1.3em;
  font-weight: bold;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-left: none;
  border-right: #0065fc;
  padding-left: 10px;
}
#name:focus {
  outline: none;
}

.btnsearch {
  width: 7.5em;
  font-size: 1.3em;
  color: #fff;
  border: none;
  background-color: #0065fc;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: 0.3s;
}
.btnsearch:hover {
  color: #000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 0 20px 20px 0;
  transition: 0.3s;
}

/* ----------1 seul breakpoint pour le Bloc Search à 800px---------- */
@media all and (max-width: 800px) {
  .blocsearch {
    margin-top: 40px;
  }
  .location {
    width: 80px;
  }
  .btnsearch {
    display: none;
  }

  .btnloupe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #0065fc;
    border-radius: 20px;
  }
  .blocloupe a {
    text-decoration: none;
  }

  #name {
    width: 100%;
  }
}
/* ------Couleurs des icones------ */
.fas {
  color: #0065fc;
}
.fa-search {
  color: #fff;
}
.fa-chart-line,
.fa-map-marker-alt {
  color: black;
}
.grey {
  color: #f2f2f2;
}
/* ------------------------------- */

/* ----------Bloc filtres---------- */
.blocfilters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.filters {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 40px;
  margin-bottom: 10px;
}

.allbuttonsfilters {
  display: flex;
  flex-wrap: wrap;
}

.buttonfilter {
  height: 50px;
  border: 2px solid #f2f2f2;
  display: flex;
  border-radius: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  text-decoration: none;
  align-items: center;
  transition: 0.3s;
}
.buttonfilter:hover {
  background-color: #deebff;
  box-shadow: 3px 3px 8px #f2f2f2;
  transition: 0.3s;
}

.textfilter {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-weight: bold;
  padding: 0 20px 0 20px;
}

.iconfilter {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #deebff;
  justify-content: center;
  align-items: center;
  margin-left: -4px;
}

/* ----------Info bulle (i)---------- */
.blocinfo {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
}

.bulleinfo {
  display: flex;
  width: 30px;
  height: 30px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/* -----Containers Hébergements et Aside----- */
.deuxcontainers {
  display: flex;
  justify-content: space-between;
  height: auto;
  border: 1px solid black;
}

/* -----Container Hébergements----- */
.containerheb {
  background-color: #f2f2f2;
  border-radius: 20px 20px 20px 20px;
  width: 100%;
  border: 1px solid red;
}

.bloccartesheb {
  justify-content: space-between;
  border: 1px solid green;
}

.carteheb {
  display: inline-block;
  border: 5px solid white;
  width: 16.6em;
  height: 13em;
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 10px #dbdbdb;
}
.carteheb:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 10px #0065fc;
}

.imgheb {
  width: 100%;
}

.piedheb {
  background-color: white;
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  line-height: 0.1em;
  padding-left: 15px;
}

.nuit {
  font-size: 14px;
}

.fa-star {
  width: 10px;
  padding-right: 4px;
}

h4,
.nuit {
  color: #000;
}

.affplus {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.affplus:hover {
  color: #0065fc;
}

/* -----Container Populaires----- */
aside {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 20px 20px 20px 20px;
  width: 40em;
  align-items: center;
  border: 1px solid red;
}

.bloccartespop {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid green;
}

.titre-logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border: 1px solid black;
}

.fa-chart-line {
  border: 1px solid black;
}
.fa-chart-line:hover {
  color: #0065fc;
}

.cartepop {
  border: 5px solid white;
  width: 22em;
  height: 9em;
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 10px #dbdbdb;
}
.cartepop:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 10px #0065fc;
}

.sidepop {
  background-color: white;
  width: 55%;
  height: 100%;
  position: absolute;
  right: 0;
  line-height: 0.3em;
  padding-left: 20px;
}
.blocstarpop {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}
aside h4 {
  line-height: 1.4em;
  position: relative;
  top: -12px;
}
aside .nuit {
  position: relative;
  top: -20px;
}

/* -----Containers Activités----- */
.containeractivites {
  display: flex;
  margin: 50px 0px 50px 0px;
  border: 1px solid red;
}

.bloccarteact {
  border: 1px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

.carteact {
  width: 21em;
  height: 10em;
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 10px #f2f2f2;
}
.carteact:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 10px #cccccc;
}

.piedact {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 21em;
  height: 3.5em;
  position: absolute;
  bottom: 0;
  padding-left: 15px;
}
.blocport, .bloccalanques {
  height: 30em;
}
.blocfort {
  height: 16em;
}
.blocfrioul {
  height: 11em;
}
.blocgarde {
  height: 12em;
}
.bloclongchamps {
  height: 15em;
}
.deuxcartes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* -----Position des photos dans leur cadre----- */
/* ---Photos du containers Hébergements--- */
.cannebiere {
  position: absolute;
  top: -30px;
}
.hotelport {
  position: absolute;
  top: -30px;
}
.mouettes {
  position: absolute;
  top: -35px;
}
.mer {
  position: absolute;
  top: -60px;
}
.panier {
  position: absolute;
  top: -10px;
}
.amina {
  position: absolute;
  top: -160px;
}
/* ---Photos du containers Populaires--- */
.soleil {
  position: absolute;
  left: -45px;
  width: 60%;
}
.coeur {
  position: absolute;
  left: -35px;
  top: 0px;
  width: 55%;
}
.blanc {
  position: absolute;
  top: -60px;
  width: 40%;
}
/* ---Photos du containers Activités--- */
.port {
  position: absolute;
  top: 0px;
  left: -200px;
  width: 220%;
}
.fort {
  position: absolute;
  top: -120px;
  width: 100%;
}
.frioul {
  position: absolute;
  top: -20px;
  width: 100%;
}
.calanques {
  position: absolute;
  top: -50px;
  left: -240px;
  width: 240%;
}
.garde {
  position: absolute;
  top: -20px;
  width: 100%;
}
.longchamps {
  position: absolute;
  top: 0px;
  width: 100%;
}
/* ------------------------------------------- */

/* ----------Footer---------- */
footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  padding-top: 30px;
}
.colonne {
  padding: 0px 5px 20px 50px;
  width: 450px;
}

.titrecol {
  font-size: large;
  line-height: 0.2em;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer a {
  text-decoration: none;
  color: #000;
  line-height: 2em;
}
footer a:hover {
  color: #0065fc;
}
