@font-face {
  font-family: "raleway";
  src: url(police/Raleway-Medium.ttf);
}

* {
  font-family: "raleway", sans-serif;
}

body {
  margin: 0;
}

header {
  padding: 0px 50px 0px 50px;
}

.logo {
  width: 110px;
  position: absolute;
  top: 40px;
}

/* ----------Menu---------- */
nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

nav div {
  display: flex;
  width: auto;
  height: auto;
}

nav div a {
  font-size: 1.1em;
  padding: 50px 30px 0px 30px;
  text-decoration: none;
  border-top: 2px solid white;
  color: #000;
}
nav div a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

.inscrire a {
  color: #0065fc;
  font-weight: bold;
}
.inscrire a:hover {
  border-top: 2px solid #fff;
  color: #deebff;
}

/* ----------1 seul breakpoint pour le header à 800px---------- */
@media all and (max-width: 800px) {
  header {
    padding: 0;
    margin-bottom: 50px;
  }
  .logo {
    margin-left: 20px;
    width: 130px;
    top: 30px;
  }
  nav {
    flex-wrap: wrap-reverse;
  }
  .deuxancres {
    width: 100%;
    height: auto;
  }
  .deuxancres div {
    justify-content: center;
    text-align: center;
    width: 50%;
    border-bottom: 3px solid #f2f2f2;
  }
  .deuxancres div a {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
  .deuxancres div a:hover {
    border-top: 2px solid #fff;
  }
  .deuxancres div:hover {
    border-bottom: 3px solid #0065fc;
  }
}
/*------------------------------------------------*/

/* ----------text intro---------- */
.intro {
  line-height: 95%;
  padding: 0px 50px 0px 50px;
}

.intro h1 {
  font-size: 1.6em;
  line-height: 1.1em;
}

.intro p {
  font-size: 1.1em;
  font-weight: normal;
}

/* ----------Barre de recherche---------- */
.blocsearch {
  display: flex;
  height: 60px;
  margin-top: 25px;
  margin-bottom: 35px;
  padding: 0px 50px 0px 50px;
}

.location {
  display: flex;
  width: 60px;
  background-color: #f2f2f2;
  border-radius: 20px 0 0 20px;
  justify-content: center;
  align-items: center;
}

#name {
  width: 250px;
  font-size: 1.3em;
  font-weight: bold;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-left: none;
  border-right: none;
  padding-left: 10px;
}
#name:focus {
  outline: none;
}

.btnsearch {
  width: 7.5em;
  font-size: 1.3em;
  color: #fff;
  border: 0px solid #0065fc;
  background-color: #0065fc;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: 0.3s;
}
.btnsearch:hover {
  color: #000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 0 20px 20px 0;
  transition: 0.3s;
}

/* ------Couleurs des icones------ */
.fas {
  color: #0065fc;
}
.fa-search {
  color: #fff;
}
.fa-chart-line,
.fa-map-marker-alt {
  color: black;
}
.grey {
  color: #f2f2f2;
}
/* ------------------------------- */

/* ----------Bloc filtres---------- */
.blocfilters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px 50px 0px 50px;
}

.filters {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 40px;
  margin-bottom: 10px;
}

.allbuttonsfilters {
  display: flex;
  flex-wrap: wrap;
}

.buttonfilter {
  height: 50px;
  border: 2px solid #f2f2f2;
  display: flex;
  border-radius: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  text-decoration: none;
  align-items: center;
  transition: 0.3s;
}
.buttonfilter:hover {
  border: 2px solid #deebff;
  background-color: #deebff;
  box-shadow: 3px 3px 8px #f2f2f2;
  transition: 0.3s;
}

.textfilter {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-weight: bold;
  padding: 0 20px 0 20px;
}

.iconfilter {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #deebff;
  justify-content: center;
  align-items: center;
  margin-left: -4px;
}

/* ----------Info bulle (i)---------- */
.blocinfo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 0px 50px 0px 50px;
}

.bulleinfo {
  display: flex;
  width: 30px;
  height: 30px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/* ----------Une carte bloc Hébergements---------- */
.carteheb {
  display: inline-block;
  border: 5px solid white;
  width: 16.6em;
  height: 13em;
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 10px #dbdbdb;
  margin: 0px 0px 40px 40px;
}
.carteheb:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 10px #0065fc;
}

.imgheb {
  width: 100%;
  position: absolute;
  top: 0;
}

.piedheb {
  background-color: white;
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  line-height: 0.3em;
  padding-left: 15px;
}

.nuit {
  font-size: 14px;
}

.fa-star {
  width: 10px;
  padding-right: 4px;
}

/* -----Containers Hébergements----- */
.deuxcontainers {
  display: flex;
  justify-content: space-between;
  height: 660px;
}

.containerheb {
  background-color: #f2f2f2;
  border-radius: 20px 20px 20px 20px;
  width: 100%;
  margin: 0px 0px 0px 50px;
  padding-right: 40px;
}

.containercartes {
  justify-content: space-between;
}

h3 {
  height: 20px;
  padding-left: 40px;
  padding-top: 20px;
}

.affplus {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-left: 40px;
}
.affplus:hover {
  color: #0065fc;
}

/* -----Containers Populaires----- */
aside {
  background-color: #f2f2f2;
  border-radius: 20px 20px 20px 20px;
  width: 45%;
  margin: 0px 50px 0px 50px;
}

.titre-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}

.fa-chart-line {
  padding-top: 20px;
}
.fa-chart-line:hover {
  color: #0065fc;
}

/* -----Containers Activités----- */
.blocactivites {
  border: 1px solid black;
}
.blocactivites h3 {
  padding-left: 50px;
}

/* -----Position des photos dans leur cadre----- */
/* ---Photos du containers Hébergements--- */
.cannebiere {
  position: absolute;
  top: -30px;
}
.port {
  position: absolute;
  top: -30px;
}
.mouettes {
  position: absolute;
  top: -35px;
}
.mer {
  position: absolute;
  top: -60px;
}
.panier {
  position: absolute;
  top: -10px;
}
.amina {
  position: absolute;
  top: -140px;
}
/* ---Photos du containers Populaires--- */
/* ---Photos du containers Activités--- */
/* ------------------------------------------- */

/* ----------Footer---------- */
footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  background-color: #f2f2f2;
}
article {
  padding: 20px 0 50px 50px;
  width: 30%;
}
article h4 {
  font-size: large;
  line-height: 0.2em;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer a {
  text-decoration: none;
  color: #000;
  line-height: 2em;
}
footer a:hover {
  color: #0065fc;
}
